beautifulsoup4==4.9.3
cnsenti==0.0.7
dashscope==1.17.1
jieba==0.42.1
openpyxl==3.0.7
pandas==2.0.3
pyecharts==2.0.5
python_docx==1.1.0
Requests==2.32.3
scikit_learn==0.24.2
selenium==3.141.0
setuptools==68.2.0
streamlit==1.33.0
streamlit_echarts==0.4.0
